body {
  font-family: Arial;
  background-color: rgba(0, 255, 0, 0.2);
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  border-left: 1px solid rgba(150, 150, 150, 0.3);
  border-right: 1px solid rgba(150, 150, 150, 0.3);
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.floating-nav {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgb(100, 200, 50);
  padding: 5px;;
  width: 130px;
  z-index: 100;
  position: fixed;
}

.floating-nav a {
  display: block;
  margin: 5px;
  color: white;
  text-decoration: none;
}
.floating-nav a:hover {
  text-decoration: underline;
}

pre {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(100, 200, 50);
}

code {
  font-family: Courier, 'New Courier', monospace;
  font-size: 12px;
}