body {
  color: grey;
  font-family: Verdana;
}

#content {
  width: 640px;
  margin: 0 auto;
}

#content h1 {
  font-size: 38px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

#canvas {
  border: 1px solid black;
}